/* General Reset */
body, h1, h2, h3, h4, p, u1 {
    margin: 0;
    padding: 0;
}

/*Body Styles */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #E0F2F1;
    color: #333; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Wrapper to take full height and manage layout */
.wrapper {
    display: flex; 
    flex-direction: column;
    flex: 1;
}


/* Typography */
h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

a {
    color: #103EB2;
    text-decoration: underline;
}

a:hover,
a:focus {
    outline: 2px dotted;
}

/* Header Styles */
header {
    font-family: 'Merriweather' serif;
    padding: 2.4rem 0;
    text-align: center;
}

header.shadowed-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    text-align: center;
    }

nav ul li {
    display: inline;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    color: #333;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}

nav ul li a.home-link {
    font-size: 2rem;
    font-weight: medium;
}

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline;
    outline: 2px dotted;
    color: #103EB2;
}

nav ul li a.active {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}

/* Footer Styles */
footer {
    text-align: center;
    font-weight: 500;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 4rem;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p, .footer-content .footer-divider {
    margin: 0 10px;

}

footer a {
    text-decoration: underline;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
    outline: 2px dotted;
}
footer a.active {
    text-decoration: underline;
}

/* index Styling */
#index h2 {
    font-size: 3.4rem;
    font-weight: 500;
}

#index p {
    font-size: 1.2rem;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #1559A8;
    border: none;
    border-radius: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button:hover,
.button:focus {
    background-color: #103EB2;
    outline: 2px dotted;
    box-shadow: 0 0 0 3px rgba(26, 115, 232, 0.3);
}

/* about Stylng */
#about h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 16px;
}

#about h3 {
    font-weight: 500;
}

#contact-form h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.form-summary{
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    display: none;
}

.form-summary i {
    margin-right: 0.5rem;
}

.error-summary {
    display: block;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.success-summary {
    display: block;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

#contact-form {
    background: fff;
    padding: 32px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto 2rem auto;
    text-align: center;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
}

.input-container input,
.input-container textarea {
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1.4px solid #000;
    outline: none;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border: 2px solid #1559A8;
}

#contact-form label {
    display: block;
    text-align: left;
    padding-left: 8px;
}

#contact-form label span[aria-hidden="true"] {
    color: red;
}

.input-container .error-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    display: none;
}

.input-container input[aria-invalid="true"] ~ .error-icon,
.input-container textarea[aria-invalid="true"] ~ .error-icon {
    display: block;
}

.input-container input[aria-invalid="true"] ~ .error-message,
.input-container textarea[aria-invalid="true"] ~ .error-message {
    display: block;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none;
    margin-top: 5px;
    text-align: left;
    padding-left: 8px;
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
    border: 2px solid red !important;
}

#contact-form button {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

#contact-form button:hover,
#contact-form button:focus {
    background-color: #1559A8;
    outline: 2px dotted;
    box-shadow: 0 0 0 3px rgba(26, 115, 232, 0.3);
}

/* résumé Styling */
#resume h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 16px;
}

#resume h3 {
    font-weight: 500;
}

/* experience Stylng */
#experience h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 16px;
}

/* projects Styling */
#projects h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 16px;
}

/* accessibility-statement Stylng */
#accessibility-statement h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 16px;
}